langgraph
langchain
langchain-core
langchain-community
langsmith
langchain-huggingface

langchain-groq
langchain-google-genai
langchain-tavily
langchain-text-splitters


tavily-python

sentence-transformers
faiss-cpu

beautifulsoup4
lxml

fastapi
uvicorn

python-dotenv
pydantic

requests
aiohttp

ipykernel
jupyter